<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgFlPrLR0DGhy6e_6avu2Ba-SxcMaQeGk</string>
	<key>GCM_SENDER_ID</key>
	<string>21562823767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.postplantlineup.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>postplant-lineup</string>
	<key>STORAGE_BUCKET</key>
	<string>postplant-lineup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21562823767:ios:4c5686956e35ff5245bf12</string>
</dict>
</plist>